<!DOCTYPE html>
<html>
<head>
  <title>LunchWithStrangers</title>
  <link rel="icon"
      type="image/png"
      href="http://res.cloudinary.com/dbewxxs0f/image/upload/v1468715546/strangersicon.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
    <% end %>
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
  </script>
  <script> new WOW().init(); </script>
</head>
<body>
  <div id="content"></div>

<%= yield %>

</body>


</html>
